<div id="<%= dom_id prayer_request %>">
  <p>
    <strong>User:</strong>
    <%= prayer_request.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= prayer_request.title %>
  </p>

  <%= prayer_request.content %>

</div>
